@media only screen and (max-width:290px) {
    .text1 {
        font-size: 12px;
    }

    .grid3 {
        margin-left: -23px;
        padding-left: 1.4em;
    }

    .part1 img {
        width: 200px;


    }

    .img34 {
        width: 30px !important;
    }

    .video {
        width: 200px !important;
        height: 200px !important;
    }

    .form32 {
        padding: 0.2em;
    }
    .product-name{

        font-size: 7px!important;
    }
    
}

@media only screen and (max-width:576px) {


    #box {
        padding-left: 0px !important;
    }
    

}

@media only screen and (min-width:576px) and (max-width:991px) {
    .card p {
        margin-top: 0 !important;
        margin-bottom: 8px !important;
        font-size: 10px;
    }

    .card-title {
        font-size: 10px !important;
    }

    .f img {
        margin-bottom: 8px;
    }

    .btn45 {
        padding: 3px;
    }
  

}

@media only screen and (max-width:768px) {
    .card-title {
        font-size: 17px !important;
    }

    
    #card-body1 {
        padding: 3px !important;
    }
   

   
}

@media only screen and (max-width:991px) {
    #count {
        color: black;
        font-size: 16px;
        position: relative;
        left: 40px !important;
        top: -51px !important;
        font-weight: 900;

    }

    .navbar-nav {
        display: flex;
        gap: 28px;
        position: relative;
        left: 0%;
        transition: 1500ms;
    }



    #card-body1 {
        padding: 5rem 3rem;
    }

    #price {
        text-align: left;
        font-weight: 500;
        font-size: 18px;
    }

    #title1 {
        font-size: 15px !important;
    }
 

}

.poster {
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    overflow: hidden;
}

.poster h1 {
    padding-left: 2em;
    padding-bottom: 5em;
    color: rgb(198, 198, 198);
}

.strap {
    background: burlywood;
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    column-gap: 1px;
    justify-content: center;
    align-items: center;

}

.strap a {
    text-decoration: none;
    color: white;
    pointer-events: stroke;
}

.strap:hover a {
    color: white;
}

/* this code for buy cards */
.card h5 {
    font-size: 18px;
}

.btn56 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn45 {
    background-color: #FFC107;
    border: none;
    height: 2em;
    border-radius: 1.5em;
    padding: 5px;
    transition: 500ms;
}

.btn45:active {
    transform: scale(0.9);
    background-color: rgb(70, 223, 70);
}

.f img {
    cursor: pointer;
}

/* this css mini pop which define volume */
#count {
    color: #050505;
    font-size: 15px;
    position: relative;
    left: -13px;
    top: -9px;
    font-weight: 900;
    width: 2em;
}

/* this css for whislist */
.whislist {
    position: fixed;
    left: 3em;
    z-index: 1;
    display: none;
}

/* this code for support page */
.container h3 {
    margin-top: 2em;
}

.text1 {
    padding-top: 3em;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    column-gap: 3em;
    padding-top: 13em;
    padding-bottom: 15px;
}



/* support */
.box1 p {
    box-sizing: border-box;
    line-height: 1.9em;
    font-size: 20px;
}

/* About us page */
.video {
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-left: 2px;
}

.video a {
    z-index: 1001;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -45px;
    width: 90px;
    height: 90px;
    display: table;
    text-align: center;
    background: #88c8bc;
    border-radius: 50%;
}

.text3 {
    overflow: hidden;
    font-size: 16px;
    padding: 24px;
    word-break: break-word;

}

.img24 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 23px;
    align-items: center;
    overflow: hidden;
}

.img24 img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 56px;
    max-width: 100%;
}

.text7 {
    overflow: hidden;
    font-size: 15px;
    /* font-weight: 400; */
    padding: 30px;
    word-break: break-word;

    opacity: 0;
    transition: opacity 6s;
}

/* enq form */
.qform {
    /* padding: 30px 30px 30px 130px; */
    margin-top: 4px;
}

.qform h2 {
    font-size: 36px;
    /* margin-left: 14px; */
    border-left: 13px solid #FFC107;

}

.form32 input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid beige;
    margin-bottom: 7%;



}

.btn56 input {

    width: auto !important;
}

.form32 textarea {
    width: 100% !important;
    height: 58px !important;
    border: none;
    outline: none;
    border-bottom: 1px solid beige;
    background: transparent;

}

.Contact_page {
    background-color: white;
    box-shadow: 0px 0px 3em black;
    border-radius: 5px;

}

.Contact_page h1 span {
    font-size: 41px;
    font-weight: bold;



}

.Contact_page {
    padding: 27px;
    /* margin-left: 89px; */
}

.Contact_page p {
    text-align: justify;
    font-size: 17px;
}

.list1 img {
    width: 7%;
}

.list1 {
    list-style: none;
    margin-bottom: 23px;
}

.list2 {
    list-style: none;
    display: inline;
    line-break: 2px;

}

.list2 a img {
    border-radius: 41px;
    background: white;
    padding: 1%;
}

.list2 a img:hover {
    background-color: yellow;

}

a {
    text-decoration: none;
}

.grid6 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    column-gap: 3em;
}
/* offer line */
.offer-line {
    color: #e74c3c; /* Red color for emphasis */
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .offer-line:nth-child(2) {
    color: #3498db; /* Blue color for variety */
  }
  
  .offer-line:nth-child(3) {
    color: #2ecc71; /* Green color for variety */
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .offer-line {
    color: #e74c3c; /* Red color for emphasis */
    font-size: 1.2em;
    margin-bottom: 10px;
    animation: blink 2s infinite; /* Adjust the duration as needed */
  }
  
  .offer-line:nth-child(2) {
    color: #3498db; /* Blue color for variety */
    animation: blink 2s infinite 0.5s; /* Delay the animation for variety */
  }
  
  .offer-line:nth-child(3) {
    color: #2ecc71; /* Green color for variety */
    animation: blink 1s infinite 500ms; /* Delay the animation for variety */
  }
  /* this code for strao 2 */

.cart-wrap {
	padding: 40px 0;
	font-family: 'Open Sans', sans-serif;
}
.main-heading {
	font-size: 19px;
	margin-bottom: 20px;
}
.table-wishlist table {
    width: 100%;
}
.table-wishlist thead {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 5px;
}
.table-wishlist thead tr th {
    padding: 8px 0 18px;
    color: #484848;
    font-size: 15px;
    font-weight: 400;
}
.table-wishlist tr td {
    padding: 25px 0;
    vertical-align: middle;
}
.table-wishlist tr td .img-product {
    width: 72px;
    float: left;
    margin-left: 8px;
    margin-right: 31px;
    line-height: 63px;
}
.table-wishlist tr td .img-product img {
	width: 100%;
}
.table-wishlist tr td .name-product {
    font-size: 15px;
    color: #484848;
    padding-top: 8px;
    line-height: 24px;
    width: 50%;
}
.table-wishlist tr td.price {
    font-weight: 600;
}
.table-wishlist tr td .quanlity {
    position: relative;
}

.total {
	font-size: 24px;
	font-weight: 600;
	color: #8660e9;
}
.display-flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.round-black-btn {
	border-radius: 25px;
    background: #212529;
    color: #fff;
    padding: 5px 20px;
    display: inline-block;
    border: solid 2px #212529; 
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
    font-size: 14px;
}
.round-black-btn:hover,
.round-black-btn:focus {
	background: transparent;
	color: #212529;
	text-decoration: none;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.d-block {
    display: block;
}
.custom-form label {
    font-size: 14px;
    line-height: 14px;
}
.pretty.p-default {
    margin-bottom: 15px;
}
.pretty input:checked~.state.p-primary-o label:before, 
.pretty.p-toggle .state.p-primary-o label:before {
    border-color: #8660e9;
}
.pretty.p-default:not(.p-fill) input:checked~.state.p-primary-o label:after {
    background-color: #8660e9 !important;
}
.main-heading.border-b {
    border-bottom: solid 1px #ededed;
    padding-bottom: 15px;
    margin-bottom: 20px !important;
}
.custom-form .pretty .state label {
    padding-left: 6px;
}
.custom-form .pretty .state label:before {
    top: 1px;
}
.custom-form .pretty .state label:after {
    top: 1px;
}
.custom-form .form-control {
    font-size: 14px;
    height: 38px;
}
.custom-form .form-control:focus {
    box-shadow: none;
}
.custom-form textarea.form-control {
    height: auto;
}
.mt-40 {
    margin-top: 40px !important; 
}
.in-stock-box {
	background: #ff0000;
	font-size: 12px;
	text-align: center;
	border-radius: 25px;
	padding: 4px 15px;
	display: inline-block;  
    color: #fff;
}
.trash-icon {
    font-size: 20px;
    color: #212529;
}
/* cart page */
.process-wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, auto));
    margin-bottom: 3em;
}
.process p{
    border: 1px solid grey;
    height: 70px;
    width: 70px ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
.process h3{
    font-size: 14px;
    text-align: center;
}
.process{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.process:after {
    position: absolute;
    top: 8.2rem;
    right: 23%;
    content: '';
    width: 55%;
    height: 1px;
    background: #f0f0f0;
}
.cart-am{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    margin-top: 2em;
}
.coupon{
    display: flex;
    padding: 3em;
}
.col-sm-10 input{
text-align: center;
margin-bottom: 2em;
font-size: 14px ;
font-weight: 400;
border-radius: 0px !important
}
.col-sm-3 input{
    background: #616161;
    color: #fff;
    border: 1px solid #616161;
    border-radius: 30px;
}
.col-sm-3 input:hover,
.col-sm-3 input:focus,
.col-sm-3 input:active{
    background: #0d0d0d !important;
    border-color: #0d0d0d !important;
}
.total2{
    padding: 1em;
    background: whitesmoke;
    margin-left: 2px;
}
.sub{
    border-bottom: 1px solid #616161;
    margin-bottom: 10px;
    color:#595959;;
    font-size: 14px;
    font-weight: 100;
}
.total2 p{
    display: block;
    margin-bottom: 10px;
}
.total2 p span {
    width: 48%;
    display: inline-block;
}

.sub p span:nth-child(2){
    font-weight: 500;
}.next-p{
    float: right;
    margin-top: 3em;
}
.next-p input{
    background: #595959;
    padding-right: 2em;
    padding-left: 2em;
    border:#595959;
}
.cart-detail {
    background: whitesmoke;
    padding: 2em 3em;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.cart-detail ul li {
    font-weight: 400;
    width: 100%;
    display: block;
    float: left;
}
.cart-detail ul {
    width: 100%;
    padding: 0;
    float: left;
    margin: 0;
}
.cart-detail ul li span {
    margin-bottom: 15px;
    display: block;
    float: left;
    border-bottom: 1px solid #e6e6e6;
    width: 100px;
}
.cart-detail ul li span:first-child {
    width: calc(100% - 100px);
}
.cart-detail h2 {
    font-size: 20px;
    margin-bottom: 40px;
}
.colorlib-form{
    background: whitesmoke;
    padding: 2em;
    margin-bottom: 30px;
   
}
.colorlib-form h2 {
    font-size: 20px;
    margin-bottom: 40px;
}
.colorlib-form label {
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    color: black;
    margin-top: 1em;
    margin-bottom: 1.3em;
}
.colorlib-form input{
    height: 4em;
    border: 0px;
    border-radius: 0px !important;
    font-size: 11px;
    text-align: justify;
    text-transform: uppercase;

}
#people{
    border: 0px;
    border-radius: 0px !important;
}

  