* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav {
    display: flex;
    gap: 25px;
    position: relative;
    left: 10%;
    transition: 1500ms;
}


.form-control {
    border-radius: 15px !important;
    position: relative;
    right: 2%;
}

.nav-item {
    transition: 700ms;
}

.nav-item a:hover {
    transform: scale(1.2);

}

.w-100 {
    height: 430px;
}

.img23 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 23px;
    align-items: center;
    overflow: hidden;
}

.img23 img {
    width: 375px;
    -webkit-clip-path: polygon(50% 0%, 96% 12%, 100% 58%, 50% 84%, 10% 65%, 8% 11%);
    clip-path: polygon(50% 0%, 96% 12%, 100% 58%, 50% 84%, 10% 65%, 8% 11%);

    padding: 56px;
    max-width: 100%;
}

.text {
    overflow: hidden;
    font-size: 23px;
    font-weight: 400;
    padding: 30px;
    word-break: break-word;
    font-family: Cooper Black;
    opacity: 0;
    transition: opacity 6s;
  }

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: -0.5rem !important;
        padding-left: -0.5rem !important;
    }

    .navbar-nav {
        font-size: 15px;
    }

    .log {
        text-decoration: none;
        font-size: 15px;
        color: black;
    }

    .nav-item img {
        width: 25px;
        margin-left: 12px;
        margin-right: 10px;
    }
    .img23 img{
        width: 375px;
       
    }

}

.bottom {
    height: 48%;
    width: 100%;
    position: absolute;
    bottom: 47%;
    transition: all ease 0.5s;
    animation-name: slide;
    animation-timing-function: ease-in;
    animation-duration: 2.5s;
}

@keyframes slide {
    from {
        bottom: -40%;
        opacity: 0;
    }

    to {
        bottom: 45%;
        opacity: 0.9;
    }
}

/* .carousel-inner:hover .bottom{
    bottom: 45%;
} */

.bottom h1 {
    font-size: 6em;
}

.bottom p {
    font-size: 29px;
    text-align: center;
    font-weight: 600;
    color: rgb(211, 225, 238);
}

.btn12 {
    text-align: center;
}

.btn12 button {
    font-size: 20px;
    border-radius: 19px;
    padding-left: 12px;
    margin-right: 12px;
}

@media only screen and (max-width:790px) {
    .img23 img {
        width: 375px;
        
        -webkit-clip-path: polygon(50% 0%, 96% 12%, 100% 58%, 50% 84%, 10% 65%, 8% 11%);
        clip-path: polygon(50% 0%, 96% 12%, 100% 58%, 50% 84%, 10% 65%, 8% 11%);
    }
   
    
}


/*  best seller css */
.card-group {
    gap: 20px;
    text-align: center;


}

.card-group>.card {
    margin-bottom: 2.75rem !important;
}

.card {
    border: 2px solid gainsboro !important;
    height: 400px;
    overflow: hidden;


}

/* brands */
.collarib{
 overflow: hidden;
    padding: 73px 0px 0px 12px;
}
.collarib h1{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    font-family: "Rokkitt", Georgia, serif;;
}
.col img{
    width: 219px;
    padding: 32px;
    max-width: 100%;
}
/* footer */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    column-gap: 3;
    padding-top: 7em;
    padding-bottom: 15px;
    }
    .par2{
        margin-top: 10%;
        border-radius: 1em;
        height: 300px;
        margin-right: 15px;
      
      border: 2px s;
    }
    .par2 h4{
        font-size: 14px;
        padding-bottom: 2.5em;
    }
    .par2 a{
        text-decoration: none;
        color: rgb(168, 168, 168);
        font-size: 10px;

    }
    .par2 li{
        list-style: none;
    }
    .par2 p{
        font-size: 10px;
        margin-bottom: 12px;
    }
    .par2 img{
        width: 35px;
        padding-top: 3em;
        padding-left: 1.8em;
    }

.arrow{
    position: fixed;
    z-index: 1;
    right: 1em;
    bottom: 3em;
   
}
.log{
    width: 100px;
}
@media only screen and (max-width:992px) {
    .navbar-nav {
        flex-direction: row;
  
    }

}
/* buy pop */
.buypop{
    background-image: linear-gradient(
        180deg,
        hsl(275deg 98% 84%) 0%,
        hsl(290deg 92% 86%) 19%,
        hsl(306deg 86% 87%) 27%,
        hsl(321deg 78% 88%) 34%,
        hsl(337deg 69% 90%) 41%,
        hsl(352deg 56% 91%) 47%,
        hsl(0deg 56% 91%) 53%,
        hsl(0deg 68% 90%) 59%,
        hsl(0deg 79% 89%) 66%,
        hsl(0deg 87% 88%) 73%,
        hsl(0deg 94% 87%) 81%,
        hsl(0deg 100% 86%) 100%
      );

    border-radius: 29px;
    max-width: 100%;
    width: 550px;
    padding: 1px 1px 0.8px 1.2px;;

}
#logo1{
    height: 266px;
    margin: 3em;
    border-radius: 3em;
    transition: 500ms;
}
#logo:hover{
    cursor:pointer;
    transform: scale(1.2);
}